<footer class="footer">
  <div class="container">
    <div class="tbf">
      <div class="cell">
        <a class="flogo" href="index.html" aria-label="Adapta Auto, ir al inicio"><img src="assets/img/logo-blanco.png" alt="Adapta Auto" width="211" height="107"></a>
        <p>Compra-venta de vehículos nuevos y usados adaptados para silla de ruedas y para personas con todo tipo de discapacidades. Más de 20 años en el sector. Entrega y recogida en todo el territorio nacional.</p>
        <a class="social" href="https://www.facebook.com/p/Adapta-Auto-100066540256170/" target="_blank" rel="noopener"><svg aria-hidden="true"><use href="#i-facebook"/></svg> Adapta Auto en Facebook</a>
      </div>
      <div class="cell">
        <span class="lbl">Vehículos</span>
        <ul>
          <li><a href="vehiculos.html?cat=conducir">Quiero conducir</a></li>
          <li><a href="vehiculos.html?cat=turismos">Turismos</a></li>
          <li><a href="vehiculos.html?cat=furgonetas">Furgonetas</a></li>
          <li><a href="vehiculos.html?cat=taxi">Taxi</a></li>
          <li><a href="vehiculos.html?cat=alquiler">Alquiler</a></li>
          <li><a href="adaptaciones.html">Adaptaciones</a></li>
        </ul>
      </div>
      <div class="cell">
        <span class="lbl">Adapta Auto</span>
        <ul>
          <li><a href="empresa.html">Quiénes somos</a></li>
          <li><a href="empresa.html#por-que">Por qué nosotros</a></li>
          <li><a href="empresa.html#valores">Nuestros valores</a></li>
          <li><a href="servicios.html">Servicios y garantía</a></li>
          <li><a href="guia-vehiculo-adaptado.html">Guía de vehículos adaptados</a></li>
          <li><a href="contacto.html">Contacto y localización</a></li>
        </ul>
      </div>
      <div class="cell">
        <span class="lbl">Contacto</span>
        <address>
          Pol. Ind. La Estrella, C/ Neptuno, 122<br>30500 Molina de Segura (Murcia)<br>
          Tel. <a href="tel:+34968603322">968 603 322</a><br>
          Móviles <a href="tel:+34699934166">699 934 166</a> y <a href="tel:+34626108770">626 108 770</a><br>
          <a href="mailto:info@adapta-auto.com">info@adapta-auto.com</a><br>
          <span>Lunes a viernes, 9:30–14:00 y 16:30–20:00, con cita previa</span>
        </address>
      </div>
    </div>
    <div class="fbar">
      <span>© <span data-year>2026</span> ADAPTA MOVIL, S.L. · CIF B-73227639</span>
      <a href="privacidad.html">Aviso legal y política de privacidad</a>
    </div>
  </div>
</footer>
