  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "AutoDealer",
    "name": "Adapta Auto",
    "legalName": "ADAPTA MOVIL, S.L.",
    "description": "Compra-venta de vehículos nuevos y usados adaptados para silla de ruedas y para personas con todo tipo de discapacidades.",
    "url": "https://www.adapta-auto.com/",
    "logo": "https://www.adapta-auto.com/assets/img/logo.png",
    "image": "https://www.adapta-auto.com/assets/img/exposicion.jpg",
    "telephone": "+34968603322",
    "email": "info@adapta-auto.com",
    "address": { "@type": "PostalAddress", "streetAddress": "C/ Neptuno, 122, Pol. Ind. La Estrella", "postalCode": "30500", "addressLocality": "Molina de Segura", "addressRegion": "Murcia", "addressCountry": "ES" },
    "openingHoursSpecification": [
      { "@type": "OpeningHoursSpecification", "dayOfWeek": ["Monday","Tuesday","Wednesday","Thursday","Friday"], "opens": "09:30", "closes": "14:00" },
      { "@type": "OpeningHoursSpecification", "dayOfWeek": ["Monday","Tuesday","Wednesday","Thursday","Friday"], "opens": "16:30", "closes": "20:00" }
    ],
    "sameAs": ["https://www.facebook.com/p/Adapta-Auto-100066540256170/"]
  }
  </script>
